<%= form_for [@post, @comment] do |f|%>
	<% if @comment.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this ticket from being saved:</h2>

			<ul>
				<% @comment.errors.full_messages.each do |msg| %> 
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :author %>
		<%= f.text_field :author %>
	</p>

	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<%= f.submit "#{@comment.new_record? ? 'Add Comment' : 'Update Comment'}" %>
<% end %>
