<div id="title">
	<h1><%= @post.title %></h1>
	<% if @post.published_at.nil? %>
		<span class="label label-danger">DRAFT</span>
	<% end %>
	<span id="content"><%= @post.content %></span>
	<div id="asset">
		<span class="sr-only"><%= @post.asset %></span>
		<%= image_tag(@post.asset) %>
	</div>
	<span id='author'>Created by: <%= @post.user.username %></span>
</div>

<%= link_to 'Edit Post', edit_post_path(@post) %>
<%= link_to 'Delete Post', post_path(@post), method: :delete %>

<div id="comment" class="comments">
	<%= link_to 'Add Comment', new_post_comment_path(@post) %>
	<% @post.comments.each do |comment| %>
		<p><%= link_to comment.author, post_comment_path(@post, comment) %> says <%= comment.content %></p>
	<% end %>
</div>
