<h1 id="title"><%= @post.title %></h1>
<p id="content"><%= @post.content %></p>
<p id="author"><%= @post.author %></p>

<%= link_to 'Edit Post', edit_post_path(@post) %>
<%= link_to 'Delete Post', post_path(@post), method: :delete %>
